
// My theme colors 
$indigo:  #290661;
$indigo-light :#A370F7;
$indigo-superlight :#E0CFFC;

// White and gray colors 
$white:    #fff;
$gray-50:  #F7FAFC;
$gray-100: #EDF2F7;
$gray-200: #E2E8F0;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-500: #718096;
$gray-600: #4A5568;
$gray-700: #2D3748;
$gray-800: #1A202C;
$gray-900: #171923;
$black:    #000;

$primary : $indigo;
$secondary : $indigo-light;
$light : $indigo-superlight;

.px-6 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

// Import bootstrap 5 
@import "../node_modules/bootstrap/scss/bootstrap.scss"