
@use '../custom' as *;
@use '../components/mixins' as *;

.clubs {
    @include bg-section;
    margin-top: 20rem;
    margin-bottom: 15rem;
    padding: 4rem 0 4rem 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;

    @include media-breakpoint-down(sm) {
        margin-bottom: 10rem;
    }

    &--header {
        color: $gray-800;
        font-weight: 900;
        font-size: 1.5rem;
        font-size: 2.25rem;
    
        @include media-breakpoint-down(sm) {
            font-size: 	1.8125rem;
        }
    }

    &--description {
        color : $gray-600;
        font-weight: 200;
        font-size: 1.125rem;
        line-height: 1.6;

        @include media-breakpoint-down(sm) {
            font-size: 	0.975rem;
        }
    }



}