
@use '../custom' as *;
@use '../components/mixins' as *;

.contact {
    @include bg-section;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;

    .container {
        margin-top: -6rem;

        @include media-breakpoint-down(lg) {
            margin-top: 0rem;
        }
    }

    .garis {
        border: 1px solid $secondary;
        border-radius: 5px;
    }

    &--headline {
        font-weight: 900;
        font-size: 2.25rem;
        color: $gray-800;
        line-height: 1.5;

        @include media-breakpoint-down(sm) {
            font-size: 	1.8125rem;
        }
    }

    &--description {
        font-weight: 200;
        font-size: 1.125rem;
        color: $gray-600;
        line-height: 1.6;

        @include media-breakpoint-down(sm) {
            font-size: 	0.975rem;
        }
    }

    .footer {

        &--img {
            justify-content: center;

            svg {
                margin-right: 1rem;
                width: 	1.5rem;
                fill: $primary;
            }

            @include media-breakpoint-down(lg) {
                justify-content: start;
            }

        }

        &--text {
            justify-content: flex-end;
            font-size: 	1.125rem;
            font-weight: 500;
            color: $primary;

            @include media-breakpoint-down(lg) {
                justify-content: start;
            }
        }

        &--copyright {
            p {
                font-size: 	0.8125rem;
                color: $primary;
                text-align: center;
            }
        }
    }


}