
@use '../custom' as *;
@use '../components/mixins' as *;

.hero-section {
    @include bg-section;
    padding: 10rem 0 0 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;

    @include media-breakpoint-down(sm) {
        padding: 5rem 0 0 0;
    }

    .intro {

        button {
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
        }

        .btn-demo {
            font-weight: 500;

            &:hover {
                background-color: $gray-200;
            }
        }

        &--info {
            @include media-breakpoint-down(sm) {
                display: none;
            }

            display: flex;
            flex-wrap: wrap;

            a {
                margin-top: 0.6rem;
                margin-left: 0.6rem;
                text-decoration: none;
                font-size: 0.875rem;
                font-weight: 400;
                color: $gray-600;
    
                &:hover {
                    text-decoration: underline;
                }
            }
    
            svg {
                width: 2rem;
                margin-top: 0.1rem;
                fill: $gray-600;
            }
        }

        &--headline {
            font-weight: 900;
            font-size: 2.25rem;
            color: $gray-800;
            line-height: 1.5;

            @include media-breakpoint-down(sm) {
                font-size: 	1.8125rem;
            }
        }

        &--description {
            font-weight: 200;
            font-size: 1.125rem;
            color: $gray-600;
            line-height: 1.6;

            @include media-breakpoint-down(sm) {
                font-size: 	0.975rem;
            }
        }

    }



}