
@use '../custom' as *;
@use '../components/mixins' as *;

.how {
    font-family: 'Poppins', sans-serif;

    &--section-headline {
        margin-bottom: 10rem;
        
        @include media-breakpoint-down(sm) {
            margin-bottom: 5rem;
        }

        &--header {
            color: $gray-800;
            font-weight: 900;
            font-size: 2.25rem;
    
            @include media-breakpoint-down(sm) {
                font-size: 	1.8125rem;
            }
        }
    
        &--description {
            color : $gray-600;
            font-weight: 200;
            font-size: 1.125rem;
            line-height: 1.6;
    
            @include media-breakpoint-down(sm) {
                font-size: 	0.975rem;
            }
        }

    }

    &--section-content {
        margin-bottom: 10rem;
    
        @include media-breakpoint-down(sm) {
            margin-bottom: 5rem;
        }

        &--header {
            color: $gray-800;
            font-weight: 900;
            font-size: 1.5rem;
            line-height: 1.5;
    
            @include media-breakpoint-down(sm) {
                font-size: 	1.3125rem;
            }
        }
    
        &--description {
            color : $gray-600;
            font-weight: 200;
            font-size: 1.125rem;
            line-height: 1.6;
    
            @include media-breakpoint-down(sm) {
                font-size: 	0.975rem;
            }
        }
        
    }



}