
@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include bg-section;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;

    .navbar-brand {
        img {
            width: 7.313rem;
        }
    }

    button {
        font-size: 1.125rem;
        margin-left: 0.7rem;

        &:hover {
            background: $primary;
        }
    }
    
        
    li {
        padding: 0 0.7rem;
        font-size: 	1.125rem;
        font-weight: bolder;
        line-height: 20px;

        a {
            color: $gray-600 !important;
            border-bottom: 2px solid transparent;
            line-height: 18px;

            &:hover {
                border-bottom: 2px solid $primary;
            }
             
            &.active {
                color: $primary !important;
                font-family: 'Rubik', sans-serif;
                border-bottom: 2px solid $primary;

                @include media-breakpoint-down(md) {
                    border-bottom: 2px solid transparent;
                }
            }
        }
        
    }

}