@use '../custom' as *;
@use '../components/mixins' as *;

.pricing {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10rem;

    &--header {
        color: $gray-800;
        font-weight: 900;
        font-size: 1.5rem;
        font-size: 2.25rem;
    
        @include media-breakpoint-down(sm) {
            font-size: 	1.8125rem;
        }
    }

    &--description {
        color : $gray-600;
        font-weight: 200;
        font-size: 1.125rem;
        line-height: 1.6;

        @include media-breakpoint-down(sm) {
            font-size: 	0.975rem;
        }
    }
    
    .card {
        margin-top: 5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        border-radius: 1rem;
        border: 1px solid $secondary;

        @include media-breakpoint-down(sm) {
            margin-top: 0rem;
        }

        span {
            font-weight: 600;
        }

        p {
            color: $gray-600;   
        }

        ul {
            list-style-image: url('/images/icons/check-circle-fill.svg');
        }

        li {
            padding-left: 0.5rem;
            margin-bottom: 0.5rem;
            color: $gray-800;
        }


        h4 {
            font-weight: 800;
            font-size: 	3rem;
            color: $gray-800;

            span {
                font-weight: 400;
                font-size: 1.5rem;
                color: $gray-600;
            }
        }
    }
}